<h1>Edit your listing now!</h1>
<hr>

<%= form_for @listing, html: { multipark: true } do |f| %>
Title: <%= f.text_field :title %><br>
Body: <%= f.text_area :body %><br>
Photo: <%= f.file_field :photo %>
  <%= f.submit 'Edit', class: 'btn btn-success' %>
<% end %>
