<h1>Listings#index</h1>
<p>Find me in app/views/listings/index.html.erb</p>

<div class="container">
<% @listings.each_slice(3).each do |group| %>
  <div class="row">
    <% group.each do |u| %>
      <div class="col-md-4">
        Photo: <%= link_to image_tag(u.photo.url(:medium)), listing_path(u) %>
        Title: <%= u.title %><br>
        Description: <%= u.body %><br>

        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <%= link_to "Edit Listing", edit_listing_path(u), class: 'btn btn-primary' %>
            </div>
        </div>

      </div>
    <% end %>
  </div>
<% end %>

<div class="form-group">
    <div class="col-md-8 col-md-offset-4">
        <%= link_to "Logout", root_path, class: 'btn btn-primary' %>
    </div>
</div>
<hr>

<div class="form-group">
    <div class="col-md-8 col-md-offset-4">
        <%= link_to "Create Listing", new_listing_path, class: 'btn btn-primary' %>
    </div>
</div>
<hr>



<% @listings.each do |u| %>
Photo: <%= link_to image_tag(u.photo.url(:medium)), listing_path(u) %>
Title: <%= u.title %><br>
Description: <%= u.body %><br>

<div class="form-group">
    <div class="col-md-8 col-md-offset-4">
        <%= link_to "Edit Listing", edit_listing_path(u), class: 'btn btn-primary' %>
    </div>
</div>


<hr>
<% end %>
</div>
