<h1>Listings#new</h1>
<p>Find me in app/views/listings/new.html.erb</p>

<%= form_for @listing, html: { multipart: true } do |f| %>
Photo: <%= f.file_field :photo %><br>
Title: <input type="text" placeholder="Title"><%= f.text_field :title %><br>
Body: <textarea rows="3"><%= f.text_area :body %></textarea><br>
  <%= f.submit 'Create Listing', class: 'btn btn-success' %>
<% end %>
