<h1>a)Login here / b)Create login here</h1>
<p>a)Connect this page to listing page. b)connect this page to listing page welcome and listings</p>

<%= form_for @user do |u| %>
Name: <%= u.text_field :name %><br>
Email: <%= u.text_field :email %><br>
Password: <%= u.text_field :password %><br>
Role: <%= u.text_field :role %><br>
<%= u.submit %>
<% end %>
